In [105]:
import numpy as np
import pandas as pd
import ast
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.stem.porter import PorterStemmer
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

Data-Preprocessing

In [107]:
movies = movies.merge(credits,on="title")

In [108]:
#id, genre, keywords, title, overview, cast, crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [109]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [110]:
movies.dropna(inplace=True)

In [111]:
movies.duplicated().sum()

0

In [112]:
def convert(obj):
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [113]:
movies['genres'] = movies['genres'].apply(convert)

In [114]:
movies.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [115]:
movies['keywords'] = movies['keywords'].apply(convert)

In [116]:
movies.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 7 columns]

In [117]:
def convert2(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            l.append(i['name'])
        else:
            break
    return l

In [118]:
movies['cast'] = movies['cast'].apply(convert2)

In [119]:
movies.head(5)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [120]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break
    return l

In [121]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [122]:
movies.head(5)

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [123]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [124]:
movies.head(5)

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [125]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ","") for i in x])

In [126]:
movies.head(5)

   movie_id  ...                crew
0     19995  ...      [JamesCameron]
1       285  ...     [GoreVerbinski]
2    206647  ...         [SamMendes]
3     49026  ...  [ChristopherNolan]
4     49529  ...     [AndrewStanton]

[5 rows x 7 columns]

In [127]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [128]:
movies.head(5)

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 8 columns]

In [129]:
new_movies = movies[['movie_id','title','tags']]

In [130]:
new_movies.head(5)

   movie_id                                     title                                               tags
0     19995                                    Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  Pirates of the Caribbean: At World's End  [Captain, Barbossa,, long, believed, to, be, d...
2    206647                                   Spectre  [A, cryptic, message, from, Bond’s, past, send...
3     49026                     The Dark Knight Rises  [Following, the, death, of, District, Attorney...
4     49529                               John Carter  [John, Carter, is, a, war-weary,, former, mili...

In [131]:
new_movies['tags'] = new_movies['tags'].apply(lambda x :" ".join(x))

C:\Users\ANUSANTH\AppData\Local\Temp\ipykernel_10652\2583363776.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x :" ".join(x))

In [132]:
new_movies.head(5)

   movie_id                                     title                                               tags
0     19995                                    Avatar  In the 22nd century, a paraplegic Marine is di...
1       285  Pirates of the Caribbean: At World's End  Captain Barbossa, long believed to be dead, ha...
2    206647                                   Spectre  A cryptic message from Bond’s past sends him o...
3     49026                     The Dark Knight Rises  Following the death of District Attorney Harve...
4     49529                               John Carter  John Carter is a war-weary, former military ca...

In [133]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : x.lower())

C:\Users\ANUSANTH\AppData\Local\Temp\ipykernel_10652\1204577229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(lambda x : x.lower())

In [134]:
new_movies.head(5)

   movie_id                                     title                                               tags
0     19995                                    Avatar  in the 22nd century, a paraplegic marine is di...
1       285  Pirates of the Caribbean: At World's End  captain barbossa, long believed to be dead, ha...
2    206647                                   Spectre  a cryptic message from bond’s past sends him o...
3     49026                     The Dark Knight Rises  following the death of district attorney harve...
4     49529                               John Carter  john carter is a war-weary, former military ca...

Vectorization

In [135]:
ps = PorterStemmer()

In [136]:
def stem(text):
    y = [] 
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [137]:
new_movies['tags'] = new_movies['tags'].apply(stem)

C:\Users\ANUSANTH\AppData\Local\Temp\ipykernel_10652\3229886743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_movies['tags'] = new_movies['tags'].apply(stem)

In [138]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [139]:
vectors = cv.fit_transform(new_movies['tags']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [140]:
vectors.shape

(4806, 5000)

In [141]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoëkravitz'],
      dtype=object)

In [142]:
similarity = cosine_similarity(vectors)

Main Function - Recommendation

In [143]:
def recommend(movie):
    movie_index = new_movies[new_movies['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key = lambda x:x[1])[1:6]

    for i in movies_list :
        print(new_movies.iloc[i[0]].title)

In [144]:
recommend('Avatar')

Aliens vs Predator: Requiem
Battle: Los Angeles
Predator
Falcon Rising
Independence Day

In [145]:
import pickle

In [146]:
pickle.dump(new_movies,open('movies.pkl','wb'))

In [147]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [148]:
pickle.dump(new_movies.to_dict(),open('movies_dict.pkl','wb'))

In [ ]:
similarity.shape